.mt-container {
  /* height: 100vh; */
  margin-top: 5rem;
}

input#recipe_update_post_title::placeholder {
  color: black !important;
}

/* input::placeholder {
  color: red !important;

} */

.bg-cover {
  background-size: cover; 
  background-position: center center;
}

.card-image {
  height: 17rem;
}