{% extends 'default/base.html' %} {% block content %}
<div class="container mt-container">

    {% for message in messages %}
    <div class="alrt alert-success px-3 pt-3 pb-2 rounded" role="alert">
      <h1 class="pb-0">
        <strong>Well done!</strong>
        <span ml-3> {{message}}</span>
      </h1>
  
    </div>
    {% endfor %}

  <nav class="breadcrumb bg-transparent">
    <a href="/" class="breadcrumb-item">Home</a>
    <span class="breadcrumb-item active">{{recipe.title}}</span>
  </nav>

  <row class="d-flex justify-content-center">
    <div class="col-xl-8">
      <div class="card mb-5">
        <div class="card-header px-3 pt-3 d-flex ">
          <h3 class="card-title mb-0 mr-auto">{{recipe.title}}</h3>

          {% if user.is_authenticated %}
          <a href="/recipe/delete/{{recipe.pk}}" class="mr-3" data-toggle="modal" data-target="#deleteModal">
            <i class="fa fa-trash-o text-secondary fa-2x" aria-hidden="true"></i>
          </a>  
          <a href="/recipe/update/{{recipe.pk}}"><i class="fa fa-pencil text-secondary fa-2x" aria-hidden="true"></i></a>
          {% endif %}
        
        </div>

        <div class="card-body ">
          <img class="card-img-top mb-3" src="{{recipe.image_path}}" alt="Card image cap">
          <h5>{{recipe.description}}</h5>
          <p class="text-secondary text-right"><small>{{recipe.created_at}}</small></p>
        </div>
      </div>
    </div>
  </row>




  <!--    
  <div class="card w-75 mb-5">
      <h4 class="card-header card-title m-2">[[recipe.title]]</h4>
      <div class="card-body">
        <form action="/recipe/post" method="POST" class="m-3">
          <div class="input-group mb-3">
            <div class="input-group-addon w-25" ></div>
            <input type="text" class="form-control" name="title" placeholder="酸辣湯" required>
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-addon w-25" >描述</div>
            <textarea class="form-control"  name="description" id="" cols="30" rows="10" placeholder="香辣好喝" required></textarea>
          </div>
          
          <div class="input-group">
            <div class="input-group-addon w-25" >圖片位址</div>
            <input type="text" class="form-control" name="image_path" placeholder="圖片" required>
          </div>
          <br> 
          {% csrf_token %}
          <button class="btn btn-primary btn-block mt-3" type="submit">送出</button>
        </form>
      </div>
     -->
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="exampleModalLabel">刪除</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>是否要刪除？</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <a href="/recipe/delete/{{recipe.pk}}" class="btn btn-primary">確定</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}